CompTemplate/Library/PackageCache/com.unity.burst/.Runtime/burst-llvm-16-arm64.dll
CompTemplate/Library/PackageCache/com.unity.burst/.Runtime/burst-llvm-16.dll
CompTemplate/Library/PackageCache/com.unity.burst/.Runtime/hostmac/dsymutil
CompTemplate/Library/PackageCache/com.unity.sysroot.linux-x86_64/data~/payload.tar.7z
CompTemplate/Library/ArtifactDB
CompTemplate/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-10.dylib
CompTemplate/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.so

CompTemplate/Library/PackageCache/com.unity.burst/.Runtime/libburst-llvm-16.dylib
CompTemplate/Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64/data~/payload.tar.7z
